
<form [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao">
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Preço</mat-label>
      <input matInput type="number" class="example-right-align" placeholder="0" formControlName="preco"/>
      <span matTextPrefix>R$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
</form>

<button mat-raised-button (click)="salvarItem()">Salvar</button>
<button mat-raised-button (click)="cancelar()">Cancelar</button>
